* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

.container {
  position: relative;
  max-width: 500px;
  margin: 50px auto;
  background: #eee;
  border: 5px solid #666;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  min-height: 330px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1 {
  margin: 0;
}

.category {
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  margin-left: 5px;
}
.question {
  height: 120px;
  background: white;
  padding: 25px;
  border-radius: 20px;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2);
}
.answer {
  font-weight: bold;
}

.score-result {
  font-size: 20px;
  font-weight: bold;
}

button {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.2s;
  font-size: 14px;
  font-weight: bold;
  margin: 10px;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2);
}
button:focus {
  outline: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  text-align: left;
  padding: 10px;
  border-radius: 10px;
  margin: 6px;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2);
  line-height: 1.2;
}
